.board-wrapper {
  width: 100%;
}

table {
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

table td {
  width: 4%;
  height: 4%;
}

table td.snake {
  background-color: black;
}

table td.apple::before {
  display: block;
  content: '';
  width: 50%;
  height: 50%;
  background-color: black;
  transform: rotate(45deg);
  margin: 0 auto;
}