.board-wrapper {
  width: 100%;
}

table {
  width: 100%;
  border: 1px solid black;
}

table td {
  width: 30px;
  height: 30px;
}

table td.snake {
  background-color: black;
}

table td.apple::before {
  display: block;
  content: '';
  width: 15px;
  height: 15px;
  background-color: black;
  transform: rotate(45deg);
  margin: 0 auto;
}