.board-wrapper {
  width: 100%;
}

table {
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

table td {
  width: 4%;
  height: 4%;
}

table td.snake {
  background-color: black;
}

table td.apple::before {
  display: block;
  content: '';
  width: 50%;
  height: 50%;
  background-color: black;
  transform: rotate(45deg);
  margin: 0 auto;
}
.score-container {
  margin-top: 15px;
}
.game-over {
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100%;
}
.game-menu {
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  padding: 15px;
}

.game-menu .menu-header h1 {
  padding: 0;
  margin: 0;
}

.game-menu .game-actions .play {
  background: transparent;
  padding: 10px;
  border-radius: 10px;
  font-size: 2vw;
  border-style: outset;
}

.game-menu .game-actions .play:hover {
  border-style: inset;
  cursor: pointer;
}
.game {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  min-width: 320px;
  margin: 0 auto;
}

.game-top {
  position: relative;
}

.game-messages {
  margin: 0 auto;
  left: 0;
  right: 0;
  position: absolute;
  top: 50%;
  max-width: 500px;
  transform: translateY(-50%)
}
@font-face {
  font-family: 'NokiaFont';
  src: url(../../assets/fonts/nokiafc22.ttf)  format('truetype');
}

* {
  font-family: 'NokiaFont';
}

body {
  background-color: #83B799;
  font-size: 2vw;
}
